{% extends "stampo.htm" %}
{% block title %}{% if plate is undefined %}{{ gettext("Dish creation wizard") }}{% else %}{{ gettext("Dish editor") }}
{% endif %}{% endblock %}
{% block extrahead %}
    <script>
        function wait() {
            master = document.getElementById("master");
            master.innerHTML = ""
            let divUpper = document.createElement("div");
            divUpper.className = "progress";
            master.appendChild(divUpper);
            let divIndet = document.createElement("div");
            divIndet.className = "indeterminate";
            divUpper.appendChild(divIndet);
        }

        let ingredients = 0;
        let additions = 0;

        function genhtml(n, mode) {
            return "<select id=\"" + mode + n + "\" class=\"browser-default\" name=\"" + mode + n + "\">{% for ingredient in ingredients %}<option value=\"{{ingredient.iid}}\">{{ingredient.name}}</option>{% endfor %}</select>"
        }

        function add(mode) {
            if (mode === "composition") {
                $("#composition").append(genhtml(ingredients, mode));
                ingredients += 1;
                $("#composition-removed").removeClass("disabled");
            } else {
                $("#addition").append(genhtml(additions, "addition"));
                additions += 1;
                $("#addition-removed").removeClass("disabled");
            }
        }

        function remove(mode) {
            if (mode === "composition") {
                if (ingredients > 0) {
                    $("#composition" + (ingredients - 1)).remove();
                    ingredients -= 1;
                    if (ingredients === 0) {
                        $("#composition-removed").addClass("disabled");
                    }
                }
            } else {
                if (additions > 0) {
                    $("#addition" + (additions - 1)).remove();
                    additions -= 1;
                    if (additions === 0) {
                        $("#addition-removed").addClass("disabled");
                    }
                }
            }
        }
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <form class="col s12" {% if plate is undefined %}action="/restaurant/{{ rid }}/dish/add" {% else %}
                  action="/plate/edit/{{ plate.pid }}/{{ rid }}" {% endif %} method="POST" enctype=multipart/form-data>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" class="validate" name="name" {% if plate is defined %}
                               value="{{ plate.name }}" {% endif %}>
                        <label for="name">{{ gettext("Dish name") }}</label>
                    </div>
                    <div class="input-field col s3">
                        <input id="tax" type="text" class="validate" name="cost" {% if plate is defined %}
                               value="{{ plate.cost }}" {% endif %}>
                        <label for="tax">{{ gettext("Price") }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate" name="description" {% if plate is defined %}
                               value="{{ plate.description }}" {% endif %}>
                        <label for="name">{{ gettext("Description") }}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ gettext("Ingredients") }}
                        <div id="composition">
                            <p>
                            <div id="add-ingredient" class="btn waves-effect waves-light"
                                 onclick="add('composition')"><i class="material-icons">add</i></div>
                            <div id="remove-ingredient" class="btn waves-effect waves-light"
                                 onclick="remove('composition')"><i class="material-icons">remove</i></div>
                            </p>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        {{ gettext("Allowed Additions") }}
                        <div id="addition">
                            <p>
                            <div id="add-addition" class="btn waves-effect waves-light" onclick="add('addition')"><i class="material-icons">add</i></div>
                            <div id="remove-addition" class="btn waves-effect waves-light"
                                 onclick="remove('addition')"><i class="material-icons">remove</i></div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type=file name=file id="file">
                    </div>
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" type="submit"
                                name="action" onclick="wait()">
                            {% if plate is undefined %}{{ gettext("Create") }}{% else %}
                                {{ gettext("Update") }}{% endif %}
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                <div class="row" id="master"></div>
            </form>
        </div>
    </div>
{% endblock %}