{% extends "stampo.htm" %}
{% block title %}{{ gettext("Category Editor") }}{% endblock %}
{% block content %}
    <div class="row">
        <form class="col s12" action="/restaurant/{{ rid }}/category/{{ category.cid }}/edit" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate" name="name" value="{{ category.name }}">
                    <label for="name">{{ gettext("Category Name") }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light" type="submit"
                            name="action">{{ gettext("Save") }}
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="input-field col s6">
                    <a href="/restaurant/{{ rid }}/category/{{ category.cid }}/delete" class="btn waves-effect waves-light" type="submit"
                       name="action">{{ gettext("Delete") }}
                        <i class="material-icons right">delete</i>
                    </a>
                </div>
            </div>
    </div>
    </form>
    </div>
{% endblock %}