{% extends "stampo.htm" %}
{% block title %}{{ gettext("List of restaurants") }}{% endblock %}
{% block extrahead %}
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}
{% block content %}
    <div style="color: #fafafa">
        <h2>{% if mode == "search" %}{{ gettext("Here's the result of the search:") }}{% endif %}</h2>
    </div>
    <ul class="collection">
        {% for restaurant in restaurants %}
            <li class="collection-item">
                <div>{{ restaurant[0].name }}, {{ restaurant[0].state }}, {{ restaurant[0].address }} {{ restaurant[0].city }}<a href="/restaurant/{{ restaurant[0].rid }}/info" class="secondary-content"><i class="material-icons">send</i></a></div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}