{% extends "stampo.htm" %}
{% block title %}About{% endblock %}
{% block extrahead %}
    <script>
        $(document).ready(function () {
            $('.tabs').tabs();
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <img class="responsive-img" src="{{ url_for('static', filename='RistorazioneWhite.png') }}">
        <div class="info-panel">
            <div class="col s12" style="padding-left:0px; padding-right:0px; margin-bottom: 0px; margin-top: 1rem;">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#intro">{{ gettext("Introducing Ristorazione") }}</a></li>
                    <li class="tab col s3"><a href="#features">{{ gettext("Features") }}</a></li>
                    <li class="tab col s3"><a href="#subs">{{ gettext("Subscriptions") }}</a></li>
                    <li class="tab col s3" style="background-color: #ff6f00"></li>
                </ul>
            </div>
            <br>
            <div id="intro" class="col s12" style="background-color: #ff6f00; color: #fafafa">
                <h3>{{ gettext("What is Ristorazione?") }}</h3>
                <p class="flow-text">{{ gettext("Ristorazione is a freemium software that allows the owner
                of a restaurant to offer a rich experience to his customers,
                allowing them to choose their meal in a much more interactive and straightforward way, while at the same time reducing
                the use of paper menus, to reduce overall waste and making them more easily updatable.") }}</p>
                <h3>{{ gettext("What does \"freemium\" mean? ") }}</h3>
                <p class="flow-text">{{ gettext("The word freemium is the fusion of the words free and premium.
                This means, in regards to Ristorazione, that its essentials features are accessible by anyone, while
                some others are locked behind a monthly subscription. To learn more about this topic, please read the
                \"Subscription\" section.") }}</p>
                <h3>{{ gettext("How can Ristorazione help me with my restaurant?") }}</h3>
                <p class="flow-text">{{ gettext("Ristorazione allows restaurant owners to spend less money on their infrastructure.
                If you just need to host your menu, well, that's free. If you want to use Ristorazione as your order processing system,
                waiters no longer need expensive tablets or PDAs, but just their smartphones to collect the orders that the users submit (although it's recommended to have
                an internet-capable pc near the cash register to improve the usability of certain features). Ristorazione is also capable of handling take-aways and home delivery orders.") }}</p>
                <h3>{{ gettext("What's the work pipeline like?") }}</h3>
                <p class="flow-text">{{ gettext("First thing you have to do is register on the platform. Next, you have to set-up your restaurant.") }}
                    <br>{{ gettext("Once that's done, add people to your organization through your restaurant management panel, and then it's time to create your menu.") }}
                    <br>{{ gettext("First, set up your ingredients, then create your plates and finally compile your menu.") }}
                </p>
                <h3>{{ gettext("How does Ristorazione process customer's payments?") }}</h3>
                <p class="flow-text">{{ gettext("Ristorazione does not provide receipts, so the restaurant owner will need to have a system capable of creating such things. For remote orders, Ristorazione uses the services of Stripe to deliver money to the restaurant owner, but the restaurant will still have to emit receipt on their own.")}}</p>
            </div>
            <div id="features" class="col s12" style="background-color: #ff6f00; color: #fafafa">
                <p class="flow-text">{{ gettext("Ristorazione is a Freemium software, that means that some features are 'hidden away', behind a subscription system. The subscriptions are connected to a single restaurant, and the differences between the free and paid version are listed below.")}}</p>
                <table class="responsive-table centered" style="background-color: #ff6f00; color: #fafafa">
                    <thead>
                    <tr>
                        <th>Feature Name</th>
                        <th>Free version</th>
                        <th>Paid version</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Restaurant management</td>
                        <td><i class="material-icons">check</i></td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Menu management and hosting</td>
                        <td><i class="material-icons">check</i></td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Order management</td>
                        <td></td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Multiple menus</td>
                        <td></td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    <tr>
                        <td>Take away and delivery support</td>
                        <td></td>
                        <td><i class="material-icons">check</i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="subs" class="col s12" style="background-color: #ff6f00; color: #fafafa">
                <h3>{{ gettext("Subscription plans") }}</h3>
                {% include "Subscriptions/grid.htm" %}
            </div>
        </div>
    </div>
{% endblock %}