{% extends "stampo.htm" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="default-jumbotron">
        <div class="default-jumbotron-content">
            <h1>{{ gettext("Welcome back,") }}</h1>
            <p class="flow-text">{{ user.name }}, {{ gettext("this is your dashboard.") }}</p>
        </div>
    </div>
    <div class="outlined-jumbotron">
        {% if user.type==0 %}
            <p class="flow-text">{{ gettext("You currently are an undefined kind of user.
            If you are a waiter, wait for your boss to add you to the corresponding restaurant.
            If you are a restaurant owner, please create your restaurant.") }}</p>
        {% elif user.type==1 %}
        {% elif user.type==2 %}
        {% elif user.type==3 %}
        {% endif %}
    </div>
{% endblock %}