{% extends "stampo.htm" %}
{% block title %}Dashboard{% endblock %}
{% block extrahead %}
    <script>
        $(document).ready(function () {
            $('.tabs').tabs();
        });

        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}
{% block content %}
    <div class="default-jumbotron">
        <div class="default-jumbotron-content">
            <h1>{{ gettext("Welcome back,") }}</h1>
            <p class="flow-text">{{ user.name }}, {{ gettext("this is your dashboard.") }}</p>
        </div>
    </div>
    <div class="outlined-jumbotron">
        {% if restaurants is not defined %}
            <p class="flow-text">{{ gettext("You currently are an undefined kind of user.
            If you are a waiter, wait for your boss to add you to the corresponding restaurant.
            If you are a restaurant owner, please create your restaurant.") }}</p>
        {% else %}
            <div class="row">
                <div class="info-panel">
                    <div class="col s12" style="padding-left:0px; padding-right:0px;">
                        <ul class="tabs">
                            <li class="tab col s3"><a href="#restaurant">{{ gettext("Restaurants") }}</a></li>
                            {% if user.isAdmin %}
                                <li class="tab col s3"><a href="#admin">{{ gettext("Administration") }}</a></li>
                            {% endif %}
                            <li class="tab col s3"><a href="#account">{{ gettext("Account") }}</a></li>
                            <li class="tab col s3" style="background-color: #ff6f00"></li>
                            {% if not user.isAdmin %}
                                <li class="tab col s3" style="background-color: #ff6f00"></li>
                            {% endif %}
                        </ul>
                    </div>
                    <br>
                    <div id="restaurant" class="col s12" style="background-color:#fafafa; color: #ff6f00">
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">local_dining</i>List of
                                    restaurants
                                </div>
                                <div class="collapsible-body">
                                    <h5>{{ gettext("Your restaurants:") }}</h5>
                                    <ul class="collection">
                                        {% for restaurant in restaurants %}
                                            <li class="collection-item avatar">
                                                <i class="material-icons circle" style="background-color: #ff6f00">local_dining</i>
                                                <span class="title"><h6><a
                                                        href="/restaurant/{{ restaurant.rid }}/tables">{{ restaurant.name }}</a></h6></span>
                                                <div class="row">
                                                    {% for work in restaurant.work %}
                                                        {% if work.type == 2 and work.userEmail == user.email %}
                                                            <a href="/restaurant/{{ restaurant.rid }}/management"
                                                               class="secondary-content"
                                                               style="color: #ff6f00"><i
                                                                    class="material-icons">edit</i></a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <a href="/restaurant/add" class="btn waves-effect waves-light" type="submit"
                           name="action">{{ gettext("Add a restaurant") }}
                            <i class="material-icons right">add</i>
                        </a>
                    </div>
                    {% if user.isAdmin %}
                        <div id="admin" class="col s12" style="background-color:#fafafa; color: #ff6f00">
                            <h3>{{ gettext("Lorem ipsum?") }}</h3>
                            <p class="flow-text">{{ gettext("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel suscipit turpis, et maximus ligula. Aenean lacinia odio in consectetur faucibus. Pellentesque tristique sem a lorem facilisis gravida. In ac ipsum auctor, elementum ligula id, mattis orci. Suspendisse semper, quam in hendrerit convallis, felis purus sodales libero, in dictum est augue a mauris. Nam vehicula semper tincidunt. Pellentesque at mauris id dolor faucibus hendrerit eu vitae lacus. Nullam tincidunt posuere facilisis. ") }}</p>
                        </div>
                    {% endif %}
                    <div id="account" class="col s12" style="background-color:#fafafa; color: #ff6f00">
                        <h3>{{ gettext("Account settings") }}</h3>
                        <div class="row">
                            <form class="col s12" action="/user/{{ user.email }}/edit" method="POST">
                                <div class="row">
                                    <div class="input-field col s3">
                                        <input id="name" type="text" class="validate" name="name" value={{ user.name }}>
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="surname" type="text" class="validate" name="surname"
                                               value={{ user.surname }}>
                                        <label for="surname">Surname</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <input id="password" type="password" class="validate" name="password">
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="input-field col s3">
                                        <button class="btn waves-effect waves-light" type="submit"
                                                name="action">{{ gettext("Save") }}
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <p>{{ gettext("If you want to delete your account, ") }} <a
                                href="/delete/0/{{ user.email }}/user/0">{{ gettext("click here") }}</a>.</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}