{% extends "stampo.htm" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id="cookies"></div>
    <div class="default-jumbotron">
        <div class="default-jumbotron-content">
            <h1>{{ gettext("Welcome!") }}</h1>
            <p class="flow-text">{{ gettext("This is Ristorazione, the website that allows restaurants to provide a better service.") }}</p>
        </div>
    </div>
    <div class="outlined-jumbotron">
        <h4>{{ gettext("Looking for a menu? Maybe it's on this site...") }}</h4>
        <div class="row">
            <form class="col s12" action="/search" , method="POST">
                <div class="input-field col s10">
                    <i class="material-icons prefix" style="color: black">search</i>
                    <input id="search" type="text" name="search">
                    <label for="search">{{ gettext("Search a restaurant") }}</label>
                </div>
                <div class="input-field col s2">
                    <center>
                        <button class="btn-floating btn-large waves-effect waves-light amber darken-4"
                                type="submit">{{ gettext("Go") }}</button>
                    </center>
                </div>
            </form>
        </div>
    </div>
    <footer class="default-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">{{ gettext("Would you like to have your restaurant's menus on this site?") }}</h5>
                    <p class="grey-text text-lighten-4">{{ gettext ("Ristorazione is a free software, that does not require monthly payments to use the basic functionalities. Learn more by clicking on the \"Subscription plans\" link.") }}</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="/about#features">{{ gettext ("Features") }}</a>
                        </li>
                        <li><a class="grey-text text-lighten-3"
                               href="/about#subs">{{ gettext ("Subscription plans") }}</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">{{ gettext ("Cookie policy") }}</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">{{ gettext ("Privacy policy") }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                {{ gettext("© Fermitech Softworks. Based on Gestione, developed with despair.") }}
            </div>
        </div>
    </footer>
    <br>
{% endblock %}