<nav class="default-navbar">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Ristorazione</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down ">
            <li><a href="#">{{ gettext("About this software") }}</a></li>
            <li><a href="#">{{ gettext("Register") }}</a></li>
            <li><a style="background: white; color: #ff6f00; border-radius:5px" href="#">{{ gettext("Login") }}</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-nav">
    <li><a href="#">Ristorazione</a></li>
    <li><a href="#">{{ gettext("About this software") }}</a></li>
    <li><a href="#">{{ gettext("Register") }}</a></li>
    <li><a href="#">{{ gettext("Login") }}</a></li>
</ul>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>