{% extends "stampo.htm" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="outlined-jumbotron-login">
        <h4>{{ gettext("Register now") }}</h4>
        <h5>{{ gettext("Note that you are not required to have an account as a customer of the restaurant.") }}</h5>
        <div class="row">
            <form class="col s12" action="/register" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" class="validate" name="name">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="surname" type="text" class="validate" name="surname">
                        <label for="surname">Surname</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" type="text" class="validate" name="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password">Password</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <button class="btn waves-effect waves-light" type="submit"
                                    name="action">{{ gettext("Register") }}
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}