<html>
<head>
    <title>{% block title %} {% endblock %} - Ristorazione</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block extrahead %}
    {% endblock %}
</head>
<body {% if invert is defined %}style="background-color: #ff6f00"{% endif %}>
{% if hidebar is not defined %}
{% include 'nav.htm' %}
{% endif %}
<br>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>