{% extends "stampo.htm" %}
{% block title %}Details{% endblock %}
{% block extrahead %}
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s6">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">{{ gettext("Restaurant Data") }}</div>
                    <div class="collapsible-body">
                        <div class="collection">
                            <a>{{ gettext("Restaurant Name") }}: {{ restaurant.name }}</a>
                            <a>{{ gettext("Restaurant Address") }}: {{ restaurant.state }}, {{ restaurant.city }}, {{ restaurant.address }}</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">{{ gettext("Restaurant Settings") }}</div>
                    <div class="collapsible-body">
                        <div class="collection">
                            <a>{{ gettext("Automated order processing") }}: </a>
                            <a>{{ gettext("Take-away integration") }}: </a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">{{ gettext("Restaurant Transactions") }}</div>
                    <div class="collapsible-body">
                        <div class="collection">
                            {% for payment in payments %}
                                <a>{{ payment.paymentId }} / {{ payment.sid }} / {{ payment.enabled }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s6">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header">{{ gettext("Personnel") }}</div>
                    <div class="collapsible-body">
                        <div class="collection">
                            <thead>
                            <tr>
                                <th>{{ gettext("email") }}</th>
                                <th>{{ gettext("name") }}</th>
                                <th>{{ gettext("surname") }}</th>
                                <th>{{ gettext("isAdmin") }}</th>
                                <th>{{ gettext("Role") }}</th>
                                <th>{{ gettext("Actions") }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for w in restaurant.work %}
                                <tr>
                                    <td>{{ w.user.email }}</td>
                                    <td>{{ w.user.name }}</td>
                                    <td>{{ w.user.surname }}</td>
                                    <td>{{ w.user.isAdmin }}</td>
                                    <td>{{ w.type }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}