{% extends "stampo.htm" %}
{% block title %}{{ gettext("Table ") }} {{ tid }}{% endblock %}
{% block extrahead %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 m6">
            <ul class="collection with-header">
                <li class="collection-header"><h4>{{ gettext("Menus") }}</h4></li>
                {% for menu in menus %}
                    <li class="collection-item">
                        <div>{{ menu.name }}<a
                                href="/restaurant/{{ rid }}/orders/table/{{ tid }}/menu/{{ menu.mid }}"
                                class="secondary-content"><i class="material-icons">book</i></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a href="/restaurant/{{ rid }}/tableLogin" class="btn waves-effect waves-light" type="submit">Logoff</a>
        </div>
        <div class="col s12 m6">
            <ul class="collection with-header">
                <li class="collection-header"><h4>{{ gettext("Orders") }}</h4></li>
                {% for order in orders %}
                    <li class="collection-item">
                        <div>{{ order.plate.name }} x{{ order.quantity }} {% if order.costOverride is not none %} {{ gettext("(custom)") }} {% endif %}<a
                                class="secondary-content">
                            {% if order.status==0 %}
                                {{ gettext("Submitted") }}
                            {% elif order.status == 1 %}
                                {{ gettext("Accepted") }}
                            {% elif order.status == 2 %}
                                {{ gettext("Delivered") }}
                            {% endif %}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}